##导入宏定义
$!{define.vm}

##设置表后缀（宏定义）
#setTableSuffix("Controller")

##保存文件（宏定义）
#save("/controller", "Controller.java")

##包路径（宏定义）
#setPackageSuffix("controller")

##定义服务名
#set($serviceName = $!tool.append($!tool.firstLowerCase($!tableInfo.name), "Service"))

##定义实体对象名
#set($entityName = $!tool.firstLowerCase($!tableInfo.name))

### TODO 这个暂时没确定好位置
import com.zhouzhitong.test.mybatis.controller.base.BaseController;

import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RestController;
import $!{tableInfo.savePackageName}.service.$!{tableInfo.name}Service;
import $!{tableInfo.savePackageName}.bean.$!tableInfo.name;
import $!{tableInfo.savePackageName}.query.$!{tableInfo.name}Query;
import $!{tableInfo.savePackageName}.dto.$!{tableInfo.name}DTO;



    ##表注释（宏定义）
    #tableComment("表控制层")
@RestController
@RequestMapping("/api/v1/$!tool.firstLowerCase($!tableInfo.name)")
public class $!{tableName}
extends BaseController<$!tableInfo.name, $!{tableInfo.name}DTO , $!{tableInfo.name}Query, $!{tableInfo.name}Service>{


}