##引入mybatis支持
$!{mybatisSupport.vm}

##设置保存名称与保存位置
$!callback.setFileName($tool.append($!{tableInfo.name}, "Controller.http"))
$!callback.setSavePath($tool.append($modulePath, "/src/main/resources/http"))

#set($comment = $tool.append("#", "#", "#"))

$!{comment} 1. 新增 $!{tableInfo.name} 实体
POST {{host}}$!{tableInfo.name}s
Content-Type: application/json;charset=UTF-8

{
#foreach($column in $tableInfo.fullColumn)
    #if(${column.name} == "id"
    ||$!{column.name} == "createTime"
    ||${column.name} == "updateTime"
    ||${column.name} == "createdBy"
    ||${column.name} == "locale"
    ||${column.name} == "lastModifiedBy"
    ||${column.name} == "version"
    ||${column.name} == "deleted")
    #else
        #if(!(${column.name} == "no" && ${isLocale}))
        "$!{column.name}": $!{tool.getClsNameByFullName($column.type)},
        #end
    #end
#end

}

$!{comment} 2. 修改 $!{tableInfo.name} 实体
PUT {{host}}permissions/1
Content-Type: application/json;charset=UTF-8

{
  "name": "test-1",
  "description": "权限描述",
  "type": 1,
  "url": "权限url-adasd",
  "sequence": 100,
  "display": "1",
  "version": 2,
  "authorities": [
    {
      "method": "GET",
      "url": "/api/v1/permissions/{id}"
    }
  ]
}

$!{comment} 3. 删除 $!{tableInfo.name} 实体
DELETE {{host}}permissions/1

$!{comment}4. 查询 $!{tableInfo.name} 实体
GET {{host}}permissions/1

$!{comment} 5. 查询 $!{tableInfo.name} 实体列表
GET {{host}}permissions?page=2&size=1&sorts=id desc
Content-Type: text/plain
