##引入mybatis支持
$!{mybatisSupport.vm}

##设置保存名称与保存位置
$!callback.setFileName($tool.append($!{tableInfo.name}, "Controller.http"))
$!callback.setSavePath($tool.append($modulePath, "/src/main/resources/http"))

#set($comment = $tool.append("#", "#", "#"))

#set($tableName = $tool.firstLowerCase($!{tableInfo.get}))

$!{comment} 1. 新增 $!{tableName} 实体
POST {{host}}$!{tableName}s
Content-Type: application/json;charset=UTF-8

{
#foreach($column in $tableInfo.fullColumn)
    #if(${column.name} == "id"
    ||$!{column.name} == "createTime"
    ||${column.name} == "updateTime"
    ||${column.name} == "createdBy"
    ||${column.name} == "locale"
    ||${column.name} == "lastModifiedBy"
    ||${column.name} == "version"
    ||${column.name} == "deleted")
    #else
        #if(!(${column.name} == "no" && ${isLocale}))
        "$!{column.name}": $!{tool.getClsNameByFullName($column.type)},
        #end
    #end
#end

}

$!{comment} 2. 修改 $!{tableName} 实体
PUT {{host}}$!{tableName}s/1
Content-Type: application/json;charset=UTF-8

{
#foreach($column in $tableInfo.fullColumn)
    #if(${column.name} == "id"
    ||$!{column.name} == "createTime"
    ||${column.name} == "updateTime"
    ||${column.name} == "createdBy"
    ||${column.name} == "locale"
    ||${column.name} == "lastModifiedBy"
    ||${column.name} == "version"
    ||${column.name} == "deleted")
    #else
        #if(!(${column.name} == "no" && ${isLocale}))
        "$!{column.name}": $!{tool.getClsNameByFullName($column.type)},
        #end
    #end
#end
}

$!{comment} 3. 删除 $!{tableName} 实体
DELETE {{host}}$!{tableName}s/1

$!{comment}4. 查询 $!{tableName} 实体
GET {{host}}$!{tableName}s/1

$!{comment} 5. 查询 $!{tableName} 实体列表
GET {{host}}$!{tableName}s?page=2&size=1&sorts=id desc
Content-Type: text/plain
