##导入宏定义
$!{define.vm}

##设置表后缀（宏定义）
#setTableSuffix("Service")

##保存文件（宏定义）
#save("/service", "Service.java")

##包路径（宏定义）
#setPackageSuffix("service")

import org.athena.framework.mybatis.service.MapperService;
import $!{tableInfo.savePackageName}.bean.$!tableInfo.name;
import $!{tableInfo.savePackageName}.dto.$!{tableInfo.name}DTO;

        ##表注释（宏定义）
        #tableComment("表服务接口")
public interface $!{tableName}
extends MapperService<$!tableInfo.name, $!{tableInfo.name}DTO> {

        @Override
        default $!{tableInfo.name}DTO newDTO() {
                return new $!{tableInfo.name}DTO();
        }

@Override
        default $!{tableInfo.name} newEntity() {
                return new $!{tableInfo.name}();
        }

}
